<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EVENTS</title>
  <link rel="stylesheet" href="../css/event.css">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka&display=swap" rel="stylesheet">
</head>
<body>
  <header>
            <div class="left">
                <h2>TCP</h2>
            </div>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="event.html">EVENTS</a></li>
                <li><a href="profile.html">PROFILE</a></li>            
                <li><a href="teamUp.html">TEAMUP</a></li>     
                <li><a href="leaderboard.html">LEADERBOARD</a></li>          
                <li><a href="library.html">LIBRARY</a></li>            
            </ul>
            <div class="right">
                <button>SIGN-IN</button>
            </div>
    </header>
  <main class="main-container">
    <section class="events past-events">
      <h2>Past Events</h2>
      <div class="event-card">Event 1</div>
      <div class="event-card">Event 2</div>
    </section>
    
    <section class="events upcoming-events">
      <h2>Upcoming Events</h2>
      <div class="event-card">Event 1</div>
      <div class="event-card">Event 2</div>
    </section>
  </main>
</body>
</html>
