*{
    margin: 0px;
    padding: 0p;
    font-family: century;
    background-size: cover;
}

body{
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensures the video stays behind other content */
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background-color:rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    /* box-shadow: 0 0 15px #2a53968a; */
    z-index: 999;
}
header ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 5%;
}
header ul li{
    list-style: none;
}
header ul a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    margin: 0 10px;
}

header ul a:hover{
    text-shadow: 0 0 15px black;
}
.right button {
    background-color: #cecece;
    color: black;
    padding: 0.75rem 1.95rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
.right button:hover{
    background-color: white;
}




.box{
    margin-top: 2.5%;
    margin-right: 8%;
    margin-left: 4.5%;
    width: 86rem;
    height: 37rem;
    background-color:transparent;
    border: 1px solid transparent;
    border-radius: 10px;
     box-shadow:
          0 0 10px #fff,
          0 0 15px #fff,
          0 0 20px #ff9c00,
          0 0 30px #ffd200;
}

/* css for chatbox */
.container{
     text-align: center;
    margin-top:3%;
   margin-left: 24%;
    width: 40rem;
    height: 29.5rem;
    /* margin: 50% auto; */
    padding:20px;
    border-radius: 10px;
    /* box-shadow: #64646f33 0px 7px 29px 0px; */
    box-shadow:
          0 0 10px #fff,
          0 0 15px #fff,
          0 0 20px #ff9c00,
          0 0 30px #ffd200;
    background: #31363f;
}

.title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.chat{
    height: 21rem;
    overflow-y: scroll;
    margin: 20px 0;
    padding: 10px;
    border: 2px solid  #545250;
    border-radius: 5px;
    background: #222831;
}

.message{
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.user{
    justify-content: flex-end;
}

.bot{
    justify-content: flex-start;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.user .avatar{
    order: 2;
    background:url("../images/avatar.jpg");
    background-size: cover;
    background-position: center;
}

.bot .avatar{
    order: 1;
    background: url("../images/bot.png");
    background-size: cover;
    background-position: center;
}

.text{
    max-width: 55%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}

.user .text{
    background:#4a4d52;
}

.bot .text{
    background: #8c8c8e;
}

.input{
    position: relative;
    width: 95%;
    padding: 10px;
    border: 2px solid #cbcbce;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

.input:focus{
    border-color: #012caf;
    color: #1e1f1f;
}

.button{
    position: absolute;
    width: 1em;
    border: none;
    padding: 1px;
    background: transparent;
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: .01rem;
    margin-left: -4rem;
    outline:none
}
button i{
    /* width: 2em;
    height: 1em; */
    color: #040129;
    /* box-shadow:
          0 0 10px #fff,
          0 0 15px #fff,
          0 0 20px #ff9c00,
          0 0 30px #ffd200; */
    font-size: 2rem;
    margin-bottom: 1rem;
    /* margin-bottom: 1.2em; */
}
button:hover{
    color: rgb(4, 4, 69);
    /* box-shadow:0 0 10px rgba(0,0,0,0.2); */
} 

.chat::-webkit-scrollbar{
    width: 10px;
}

.chat::-webkit-scrollbar-thumb{
    background: #bcbdc0;
    border-radius: 10px;
}