*{
    margin: 0px;
    padding: 0px;
    font-family: century;
    background-size: cover;
    color: white;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background-color:rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    /* box-shadow: 0 0 15px #2a53968a; */
    z-index: 999;
}
header ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 5%;
}
header ul li{
    list-style: none;
}
header ul a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    margin: 0 10px;
}

header ul a:hover{
    text-shadow: 0 0 15px black;
}
.right button {
    background-color: #cecece;
    color: black;
    padding: 0.75rem 1.95rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
.right button:hover{
    background-color: white;
}

/* css for table */
.table01{
    color: aliceblue;
    margin-left: 5%;
    margin-right: 5%;
      margin-top:8%;
      background: rgba(3, 0, 11, 0.6);
      border-radius: 15px;
      box-shadow: 0 0 15px #325e82aa;
      backdrop-filter: blur(8px);
      padding: 2rem;
      line-height: 1.7;
      font-size: 1.15rem;
      animation: fadeIn 2s ease forwards;
}
.tr2{
    color: aliceblue;
     border-radius: 12px;
      width: 50%;
     text-align: center;
      padding: 1rem;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;

}
.tr1{ 
    color: aliceblue;
     border-radius: 12px;
      width: 23%;
     text-align: center;
      padding: 1rem;
      font-weight: 700;
      font-family: 'Montserrat', sans-serif;
}