*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
}
.back-vid{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1000;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background-color:rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #2a53968a;
}
header ul{
    display: flex;
    justify-content: space-between;
    width: 40%;
    background-color: rgba(255, 255, 255, 0);
    margin-left: 5%;
}
header ul li{
    list-style: none;
}
header ul a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
    margin: 0 10px;
}

header ul a:hover{
    text-shadow: 0 0 15px black;
}
.left a {
    text-decoration: none;
    background-color: #cecece;
    color: black;
    padding: 0.75rem 1.95rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
.left a:hover{
    background-color: white;
}
.menu{
    display: flex;
    gap: 45px;
    align-items: center;
    justify-content: space-between;
}
.right-menu{
    font-size: 2rem;
    cursor: pointer;
}
.right-menu-box{
    display: none;
    position: absolute;
    min-height: 400px;
    width: 290px;
    right: 15px;
    top: 75px;
    border: 1px solid white;
    flex-direction: column;
}
.active{
    display: flex;
}
.inside-menu:hover .right-menu-box {
  display: flex;
}
.menu-wrd {
    border: 1px solid white;
    padding: 5%;
    text-align: center;
    font-size: 1.8rem;
    margin: 1rem 0.8rem 1rem 0.8rem;
    text-decoration: none;
    color: white;
    display: block;
    cursor: pointer;
}

.blackhole-box{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -100;
    mix-blend-mode: lighten;
}
.blackhole-box video{
    width: 100%;
    margin: -23.5%;
}
.hero-main{
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
}
.hero{
    position: absolute;
    left: 5%;
}
.hero h1{
    font-size: 60px;
    max-width: 635px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.hero p{
    max-width: 600px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}
.gradient{
    background: linear-gradient(to right, #008baa, #7e42a7, #6600c5, #6070fd, #2a46ff, #0099ff, #008ead);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}
@keyframes animate-gradient {
    to{
        background-position: 200%;
    }
}

.astronaut{
    position: absolute;
    right: 5%;
    height: 400px;
    mix-blend-mode: lighten;
    pointer-events: none;
}

.bot-img{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    right: 40px;
    background-image: url("../images/bot.png");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    mix-blend-mode: lighten;
    opacity: 0.75;
    transition: 0.25s;
    
}
.bot-img:hover{ 
    opacity: 1;
}

.about-main{
    width: 100%;
    margin-top: 80px;
    text-align: center;
}
.about-us h2{
    font-size: 3rem;
}
.about-us p{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    padding: 0 1.5rem;
}
.connect-main{
    width: 100%;
    margin-top: 80px;
    text-align: center;
}
.connect-us h2{
    font-size: 3rem;
}
.connect-icon{
    width: 100%;
    align-items: center;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    font-size: 6rem;
}

@media (max-aspect-ratio: 16/9) {
    .back-vid{
        width: auto;
        height: 100%;
    }
}
/* @media (min-aspect-ratio: 16/9) {
    .back-vid{
        width: 100%;
        height: auto;
    }
} */
