<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/leaderboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body{
            background-image: url("../images/leaderboard.jpg");
            background-size: cover;
        }
    </style>

    </head>
<body>
    <header>
            <div class="left">
                <h2>TCP</h2>
            </div>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="event.html">EVENTS</a></li>
                <li><a href="profile.html">PROFILE</a></li>            
                <li><a href="teamUp.html">TEAMUP</a></li>
                <li><a href="leaderboard.html">LEADERBOARD</a></li>                
                <li><a href="library.html">LIBRARY</a></li>            
            </ul>
            <div class="right">
                <button>SIGN-IN</button>
            </div>
    </header>
     <div class="table01">
        <table border="1" class="table_class">
            <thead>
                <th class="tr2">USERNAME</th>
                <th class="tr1">PROJECTS</th>
                <th class="tr1">RANK</th>
                <th class="tr1">KUDOS</th>
            </thead>
            <tbody>
                <tr>
                     <td class="tr1">
                        <span>USERNAME</span>
                    </td>
                    <td class="tr1" >
                        <span>PROJECTS</span>
                    </td>
                    <td class="tr1">
                        <span>RANK</span>
                    </td>
                    <td class="tr1">
                        <span>KUDOS</span>
                    </td>
                    
                </tr>
                <tr>
                     <td class="tr1">
                        <span>USERNAME</span>
                    </td>
                    <td class="tr1" >
                        <span>PROJECTS</span>
                    </td>
                    <td class="tr1">
                        <span>RANK</span>
                    </td>
                    <td class="tr1">
                        <span>KUDOS</span>
                    </td>
                    
                </tr>
                <tr>
                     <td class="tr1">
                        <span>USERNAME</span>
                    </td>
                    <td class="tr1" >
                        <span>PROJECTS</span>
                    </td>
                    <td class="tr1">
                        <span>RANK</span>
                    </td>
                    <td class="tr1">
                        <span>KUDOS</span>
                    </td>
                    
                </tr>
                <tr>
                     <td class="tr1">
                        <span>USERNAME</span>
                    </td>
                    <td class="tr1" >
                        <span>PROJECTS</span>
                    </td>
                    <td class="tr1">
                        <span>RANK</span>
                    </td>
                    <td class="tr1">
                        <span>KUDOS</span>
                    </td>
                    
                </tr>
                <tr>
                     <td class="tr1">
                        <span>USERNAME</span>
                    </td>
                    <td class="tr1" >
                        <span>PROJECTS</span>
                    </td>
                    <td class="tr1">
                        <span>RANK</span>
                    </td>
                    <td class="tr1">
                        <span>KUDOS</span>
                    </td>
                    
                </tr>
                <tr>
                     <td class="tr1">
                        <span>USERNAME</span>
                    </td>
                    <td class="tr1" >
                        <span>PROJECTS</span>
                    </td>
                    <td class="tr1">
                        <span>RANK</span>
                    </td>
                    <td class="tr1">
                        <span>KUDOS</span>
                    </td>
                    
                </tr>
                <tr>
                     <td class="tr1">
                        <span>USERNAME</span>
                    </td>
                    <td class="tr1" >
                        <span>PROJECTS</span>
                    </td>
                    <td class="tr1">
                        <span>RANK</span>
                    </td>
                    <td class="tr1">
                        <span>KUDOS</span>
                    </td>
                    
                </tr>
            </tbody>
        </table>
    </div>
    </body>
</html>