<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBRARY</title>
    <link rel="stylesheet" href="../css/library.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body{
            background-image: url(../images/library.png);
            background-size: cover;
        }
    </style>

    </head>
<body>
    <header>
            <div class="left">
                <h2>TCP</h2>
            </div>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="event.html">EVENTS</a></li>
                <li><a href="profile.html">PROFILE</a></li>            
                <li><a href="teamUp.html">TEAMUP</a></li>
                <li><a href="leaderboard.html">LEADERBOARD</a></li>               
                <li><a href="library.html">LIBRARY</a></li>            
            </ul>
            <div class="right">
                <button>SIGN-IN</button>
            </div>
    </header>
    <div class="table01">
        <table border="1" class="table_class">
            <thead>
                <th class="tr1">TOPIC</th>
                <th class="tr1">RESOURCE</th>
                <th class="tr1">NOTES</th>
                <th class="tr1">CHEATSHEET</th>
            </thead>
            <tbody>
                <tr>
                    <td class="tr1">
                        <span>HTML</span>
                    </td>
                    <td class="tr1" >
                        <span>MDN</span>
                    </td>
                    <td class="tr1">
                        <span>NOTES</span>
                    </td>
                    <td class="tr1">
                        <span>CHEATSHEET</span>
                    </td>
                </tr>
                <tr>
                    <td class="tr1">
                        <span>HTML</span>
                    </td>
                    <td class="tr1" >
                        <span>MDN</span>
                    </td>
                    <td class="tr1">
                        <span>NOTES</span>
                    </td>
                    <td class="tr1">
                        <span>CHEATSHEET</span>
                    </td>
                </tr>
                <tr>
                    <td class="tr1">
                        <span>HTML</span>
                    </td>
                    <td class="tr1" >
                        <span>MDN</span>
                    </td>
                    <td class="tr1">
                        <span>NOTES</span>
                    </td>
                    <td class="tr1">
                        <span>CHEATSHEET</span>
                    </td>
                </tr>
                <tr>
                    <td class="tr1">
                        <span>HTML</span>
                    </td>
                    <td class="tr1" >
                        <span>MDN</span>
                    </td>
                    <td class="tr1">
                        <span>NOTES</span>
                    </td>
                    <td class="tr1">
                        <span>CHEATSHEET</span>
                    </td>
                </tr>
                <tr>
                    <td class="tr1">
                        <span>HTML</span>
                    </td>
                    <td class="tr1" >
                        <span>MDN</span>
                    </td>
                    <td class="tr1">
                        <span>NOTES</span>
                    </td>
                    <td class="tr1">
                        <span>CHEATSHEET</span>
                    </td>
                </tr>
                 
            </tbody>
        </table>
    </div>
    
</body>
</html>