<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE</title>
    <link rel="stylesheet" href="../css/profile.css">
</head>
<body>
    <div class="container">
        <video class="back-vid" autoplay loop muted plays-inline src="../videos/galaxy.mp4"></video>
        <div class="cover"></div>
         <header>
            <div class="left">
                <h2>TCP</h2>
            </div>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="event.html">EVENTS</a></li>
                <li><a href="profile.html">PROFILE</a></li>            
                <li><a href="teamUp.html">TEAMUP</a></li>
                <li><a href="leaderboard.html">LEADERBOARD</a></li>                
                <li><a href="library.html">LIBRARY</a></li>            
            </ul>
            <div class="right">
                <button>SIGN-IN</button>
            </div>
    </header>
    <div class="profile-container">
        <div class="user">
            <div class="user-img">
                <img class="profile-pic" src="../images/avatar.jpg" alt="">
            </div>
            <div class="user-name">
                <h3>Username :- ANSH KUMAR</h3>
                <h3>Rank :- GOLD</h3>
            </div>
        </div>
        <div class="user-info">
            <p>Tech stack :- WEB-DEV</p>
            <p>Email :- 123@gamil.com</p>
            <p>Certificates :- 5+</p>
            <p>projects :- 10+</p>
            <p>Social media accounts :- fb ig</p>
            <p>No. of kudos :- 10+</p>
        </div>
    </div>

    </div>
</body>
</html>